    body {
      padding: 50px;
      font-family: 'sans-serif';
      font-size: 16px;
    }

    h1 {
      font-size: 36px;
      font-weight: 900;
      line-height: 1.2;
      color: orchid;
    }
    h5 {
      font-size: 24px;
      font-weight: 700;
      color: orchid;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      line-height: 1.5;
      color: #666;
      margin-bottom: 10px;
    }