<header class="header">
  <a href="/" class="header__logo">
    <span>uni</span>
    <span>course</span>
    <!-- <span>us</span> -->
  </a>
  <div class="header__menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/courses/add">Add Course</a></li>
      <li><a href="/students/add">Add Students</a></li>
      <li><a href="/students">Students List</a></li>
    </ul>
  </div>
</header>